@media all and (max-width: 1024px) {
  h1 { width: calc(100%); }
  }
@media all and (max-width: 1024px) {
  h2 { width: calc(100% - 40px); }
  }
@media all and (max-width: 1024px) {
  h3 { width: calc(100% - 40px); }
  }
@media all and (max-width: 1024px) {
  p { width: calc(100% - 40px); }
  }
@media all and (max-width: 1024px) {
  blockquote { width: calc(100% - 40px); }
  }
@media all and (max-width: 1020px) {
  img { width: 100%; }
}
@media all and (max-width: 1020px) {
  .img { width: 100%; }
}
/* @media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
body { min-width: 320px; }
article > * { width: calc(100% - 40px); } */
}
